<section>
  <h1>Telefone</h1>
  <p *ngFor="let telefone of telefones">{{ telefone }}</p>
</section>

<section>
  <h2>Horário de Atendimento</h2>
  <h3>{{ atendimento.diaDaSemana }}</h3>
  <p>{{ atendimento.horario }}</p>
</section>

<footer>
  <section>
    <h2>{{ endereco.rua }} numero {{ endereco.numero }}, bairro {{ endereco.bairro }}, estado {{ endereco.estado }}, CEP: {{ endereco.cep }}</h2>
    <a
      *ngFor="let icone of redes.link; let i = index"
      href="{{ redes.link[i] }}"
      target="_blank"
    >
      <img src="{{ redes.icone[i] }}" alt="redes-sociais" />
    </a>
  </section>

  <section>
    <h2>Receba promoções e dicas</h2>
    <p>
      Cadastre o seu email e receba a newsletter da equipe Dharma, tendências de
      estampas, dicas sobre sublimação e muito mais!
    </p>
    <input type="email" />
    <button (click)="enviarEnderecoEmailCliente()" mat-button color="primary">
      Receber as promoções
    </button>
  </section>

  <section *ngIf="email === true">
    <p>
      Cadastro feito com sucesso! Em breve voce receberá novas promoções! Fique
      ligado ;)
    </p>
  </section>
</footer>
