<section>
  <div class="jumbotron texto-centralizado">
      <button
      [routerLink]="['mensagem']"
      [queryParams]="{ pagina: 1 }"
      [routerLinkActive]="'active'"
      type="button"
      class="btn btn-primary btn-lg"
      data-toggle="button"
      aria-pressed="true"
      autocomplete="off"
    >
      Mensagens recebidas
    </button>
    <button
      [routerLink]="['controle-contato']"
      [routerLinkActive]="'active'"
      type="button"
      class="btn btn-warning btn-lg"
      data-toggle="button"
      aria-pressed="true"
      autocomplete="off"
    >
      Editar página de contato
    </button>
    </div>
</section>

<section>
  <router-outlet></router-outlet>
</section>
