<section fxLayout="row" class="slideshow-container">
  <!--Avisos-->
  <section *ngIf="aviso.ativo === true">
    <p>{{ aviso.mensagem }}</p>
  </section>

  <!--imagem principal-->
  <div class="mySlides fade">
    <h1 class="numbertext">{{ poster.titulo }}</h1>
    <img src="{{ poster.imagem }}" width="100%" />
    <h2 class="text">{{ poster.descricao }}</h2>
  </div>
</section>
<br />
<!--propaganda 01-->
<section>
  <img src="{{ propaganda01.imagem }}" alt="propaganda-imagem" width="50%"/>
  <h3>{{ propaganda01.titulo }}</h3>
  <p>{{ propaganda01.descricao }}</p>
</section>
