<section *ngIf="carregando == true" class=".jumbotron texto-centralizado">
  <h1 class="display-4">Email de clientes cadastrados na newsletter</h1>
  <p class="lead">
    Mande emails para esses clientes com promoções, novidades e ofertas
  </p>
  <hr class="my-4" />
  <div
    *ngFor="let email of cadastro; let i = index"
    class="input-group flex-wrap"
  >
    <div class="input-group-prepend">
      <span
        (click)="setDeleteEmail(email._id, i)"
        style="cursor: pointer"
        class="input-group-text"
        id="addon-wrapping"
        data-toggle="modal"
        data-target="#emailsCadastradosModalDelete"
        >X</span
      >
    </div>
    <a
      href="mailto:{{ email.email }}"
      target="_blank"
      class="form-control"
      aria-label="emailsCadastrados"
      aria-describedby="addon-wrapping"
    >
      {{ email.email }}
    </a>
  </div>

  <hr class="my-4" />

  <!--Paginação de resultados-->
  <nav aria-label="paginacaoEmailClientes">
    <ul class="pagination">
      <li class="page-item col" style="padding: 0">
        <a
          (click)="trocarDePaginaAnterior()"
          style="cursor: pointer"
          class="page-link"
          >Anterior</a
        >
      </li>
      <li
        *ngFor="let pagina of paginas; let i = index"
        class="page-item col"
        [class.active]="paginacao.paginaAtual == i + 1"
        style="padding: 0"
      >
        <a
          (click)="irParaPagina(i + 1); getEmailsPorPagina(i + 1)"
          style="cursor: pointer"
          class="page-link"
          >{{ pagina }}</a
        >
      </li>
      <li class="page-item col" style="padding: 0">
        <a
          (click)="trocarDePaginaProximo()"
          style="cursor: pointer"
          class="page-link"
          >Próximo</a
        >
      </li>
    </ul>
  </nav>
</section>

<!--barra de progresso-->
<div *ngIf="carregando == false" class="progress">
  <div
    class="progress-bar w-{{ progressoBar }}"
    role="progressbar"
    aria-valuenow="56"
    aria-valuemin="0"
    aria-valuemax="100"
  ></div>
</div>

<hr class="my-4" />

<!--Informacao de paginacao do banco-->
<div *ngIf="carregando == true" class="jumbotron jumbotron-fluid texto-centralizado">
  <div class="container">
    <h1 class="display-4">
      Total emails cadastrados: {{ paginacao.totalDeResultados }}
    </h1>
    <p class="lead">Página Atual: {{ paginacao.paginaAtual }}</p>
    <p class="lead">Total de Páginas: {{ paginacao.totalDePaginas }}</p>
    <p class="lead">
      Limite de resultados por página:
      {{ paginacao.limiteDeResultadoPorPagina }}
    </p>
  </div>
</div>
<!--Modal dos itens deletados-->
<div
  class="modal fade"
  id="emailsCadastradosModalDelete"
  tabindex="-1"
  role="dialog"
  aria-labelledby="emailsCadastradosModalDeleteLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="emailsCadastradosModalDeleteLabel">
          Status da atualizacao:
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ status }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
