<section>
    <div class="jumbotron texto-centralizado">
        <button
        [routerLink]="['formulario']"
        [queryParams]="{ pagina: 1 }"
        [routerLinkActive]="'active'"
        type="button"
        class="btn btn-primary btn-lg"
        data-toggle="button"
        aria-pressed="true"
        autocomplete="off"
      >
        Pedidos de orçamento
      </button>
      <button
        [routerLink]="['controle-orcamento']"
        [routerLinkActive]="'active'"
        type="button"
        class="btn btn-warning btn-lg"
        data-toggle="button"
        aria-pressed="true"
        autocomplete="off"
      >
        Editar página de orçamento
      </button>
      </div>
</section>

<section>
    <router-outlet></router-outlet>
</section>
