<section class="container">

  <h1 class="texto-centralizado">Alterar textos e imagens dos slides</h1>

  <div *ngFor="let slide of slides.titulo; let i = index" class="jumbotron">
    <h3 class="display-4 texto-centralizado">Slide {{ i + 1 }}</h3>
    <p class="lead">
      Titulo
    </p>
    <input
      type="text"
      class="form-control"
      placeholder="Insira aqui o texto para o slide 1"
      aria-label="Insira aqui o texto para o slide 1"
      aria-describedby="button-addon2"
      [(ngModel)]="slides.titulo[i]"
    />
    <hr class="my-4" />
    <p>
      Subtitulo
    </p>
    <input
      type="text"
      class="form-control"
      placeholder="Insira aqui o texto para o slide 1"
      aria-label="Insira aqui o texto para o slide 1"
      aria-describedby="button-addon2"
      [(ngModel)]="slides.subtitulo[i]"
    />
    <hr class="my-4" />
    <p>
      link imagem
    </p>
    <input
      type="text"
      class="form-control"
      placeholder="Insira aqui o texto para o slide 1"
      aria-label="Insira aqui o texto para o slide 1"
      aria-describedby="button-addon2"
      [(ngModel)]="slides.imgs[i]"
    />
    <hr class="my-4" />
    <button
      class="btn btn-primary btn-lg"
      type="button"
      id="button-addon2"
      (click)="setSlide($event)"
    >
      Salvar alterações
    </button>
  </div>

<br />
</section>

<!--area propaganda-->
<section>

  <h1 class="texto-centralizado">Alterar textos e imagens da propaganda 1</h1>

<section class="container">

<div class="jumbotron">
    <p class="lead">
        Titulo
      </p>
      <input
        type="text"
        class="form-control"
        placeholder="Insira aqui o texto para o slide 1"
        aria-label="Insira aqui o texto para o slide 1"
        aria-describedby="button-addon2"
        [(ngModel)]="propaganda01.titulo"
      />
      <hr class="my-4" />
      <p>
        Descrição
      </p>
      <input
        type="text"
        class="form-control"
        placeholder="Insira aqui o texto para o slide 1"
        aria-label="Insira aqui o texto para o slide 1"
        aria-describedby="button-addon2"
        [(ngModel)]="propaganda01.descricao"
      />
      <hr class="my-4" />
      <p>
        link imagem
      </p>
      <input
        type="text"
        class="form-control"
        placeholder="Insira aqui o texto para o slide 1"
        aria-label="Insira aqui o texto para o slide 1"
        aria-describedby="button-addon2"
        [(ngModel)]="propaganda01.img"
      />
      <hr class="my-4" />
      <button
        class="btn btn-primary btn-lg"
        type="button"
        id="button-addon2"
        (click)="setPropaganda01($event)"
      >
        Salvar alterações
      </button>
</div>

  <h1>{{ titulo }}</h1>
  <h2>{{ subtitulo }}</h2>
</section>
<section fxLayout="row">
  <img src="{{ propaganda01.img }}" alt="sublimação" style="width:100%" />
  <h3>{{ propaganda01.titulo }}</h3>
  <p>{{ propaganda01.descricao }}</p>
  <article>
    <h3>{{ propaganda02.titulo }}</h3>
    <ul>
      <li *ngFor="let item of propaganda02.lista">{{ item }}</li>
    </ul>
  </article>
  <button>{{ propaganda02.btnTxt }}</button>
</section>

<hr />

<section fxLayout="row">
  <img src="{{ propaganda03.img }}" alt="sublimação" style="width:100%" />
  <h3>{{ propaganda03.titulo }}</h3>
  <p>{{ propaganda03.descricao }}</p>
  <article>
    <h3>{{ propaganda04.titulo }}</h3>
    <ul>
      <li *ngFor="let item of propaganda04.lista">{{ item }}</li>
    </ul>
  </article>
  <button>{{ propaganda04.btnTxt }}</button>
</section>

<hr />
