<!--The content below is only a placeholder and can be replaced.-->
<section class="container-fluid">
  <app-menu-topo></app-menu-topo>
  <hr />
  <router-outlet></router-outlet>

  <!--Propaganda zoom in it code-->
  <div class="texto-centralizado">
      <a href="https://zoominit.com.br/" target="_blank">
        <img src="https://zoominit.com.br/zoominitcode-assets/logo.png" alt="ZOOM IN IT CODE LOGO" width="20%" class="img-thumbnail">
      </a>
    <div>
      feito por <a href="https://zoominit.com.br/" target="_blank">ZOOM IN IT CODE</a>
    </div>
  </div>
  <hr class="my-4"/>
</section>
