<section *ngIf="carregando == true" class="texto-centralizado">
  <h1 class="display-4">Pedidos dos clientes em ordem de recebimento</h1>
  <p class="lead">
    Entre em contato com o orçamento o quanto antes!
  </p>
  <div
    *ngFor="let pedido of mensagem; let i = index"
    class="jumbotron texto-centralizado"
  >
      <h1 class="display-4">Nome: {{ pedido.mensagem.nome }}</h1>
      <p class="lead">
          Email de contato:
          <br/>
          <a
          class="btn btn-primary btn-lg"
          href="mailto: {{ pedido.mensagem.email }}"
          target="_blank"
          role="button"
          aria-label="emailsCadastrados"
          aria-describedby="addon-wrapping"
          >{{ pedido.mensagem.email }}</a
        >
      </p>
      <p class="lead">
          Fixo:
          <br/>
          <a
          class="btn btn-primary btn-lg"
          href="tel: {{ pedido.mensagem.telefone }}"
          role="button"
          >{{ pedido.mensagem.telefone }}</a
        >
      </p>
      <p class="lead">
        Tipo de pessoa: {{ pedido.mensagem.tipoPessoa.tipo }}
      </p>
      <p class="lead">
        Numero do {{ pedido.mensagem.tipoPessoa.tipo }}:
        {{ pedido.mensagem.tipoPessoa.numero }}
      </p>
      <p class="lead">Mensagem: {{ pedido.mensagem.corpoMensagem }}</p>

      <button
        (click)="setDeletePedido(pedido._id, i)"
        style="cursor: pointer"
        class="btn btn-danger btn-lg"
        id="addon-wrapping"
        data-toggle="modal"
        data-target="#mensagemContatoModalDelete"
      >
        Deletar mensagem
      </button>
  </div>

  <hr class="my-4" />

  <!--Paginação de resultados-->
  <nav aria-label="paginacaoEmailClientes">
    <ul class="pagination">
      <li class="page-item col" style="padding: 0">
        <a
          (click)="trocarDePaginaAnterior()"
          style="cursor: pointer"
          class="page-link"
          >Anterior</a
        >
      </li>
      <li
        *ngFor="let pagina of paginas; let i = index"
        class="page-item col"
        [class.active]="paginacao.paginaAtual == i + 1"
        style="padding: 0"
      >
        <a
          (click)="irParaPagina(i + 1)"
          style="cursor: pointer"
          class="page-link"
          >{{ pagina }}</a
        >
      </li>
      <li class="page-item col" style="padding: 0">
        <a
          (click)="trocarDePaginaProximo()"
          style="cursor: pointer"
          class="page-link"
          >Próximo</a
        >
      </li>
    </ul>
  </nav>
</section>

<!--barra de progresso-->
<div *ngIf="carregando == false" class="progress">
  <div
    class="progress-bar w-{{ progressoBar }}"
    role="progressbar"
    aria-valuenow="56"
    aria-valuemin="0"
    aria-valuemax="100"
  ></div>
</div>

<hr class="my-4" />
<!--Modal dos itens deletados-->
<div
  class="modal fade"
  id="mensagemContatoModalDelete"
  tabindex="-1"
  role="dialog"
  aria-labelledby="mensagemContatoModalDeleteLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mensagemContatoModalDeleteLabel">
          Status da atualizacao:
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ status }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
